
/* Header */
.main__header {
    background-image: url(/assets/img/home.jpeg);
    width: auto;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 20rem;
    padding: 5rem 1rem;
}

.header__top {
    position: fixed;
    width: 100%;
    z-index: 500;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__text {
    font-size: 1.8rem;
    text-align: right;
    line-height: 3rem;
    padding: 2rem 0;
}



@media screen and (min-width: 980px) {
    .main__header {
        height: 30rem;
        background-position-y: bottom;
        justify-content: center;
        display: flex;
    }
    .header__top {
        background-color: transparent;
        max-width: 1400px;
    }

    .header__text {
        font-size: 2.8rem;
        line-height: 6rem;

    }

    .main__text {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        max-width: 1400px;
    }

    .burger-button,
    .cross-button {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}
