:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-alpha: #0000000f;
    --air-force-blue: #547D87;
    --charcoal: #2b4045;
    --sinopia: #D0451b;
    --white-smoke: #f5f5f6;
    --default-font-size: 16px;
}   

@font-face {
    font-family: 'Abril Fatface';
    src: url('./assets/fonts/AbrilFatface-Regular.woff2');
}
@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-Regular.woff2');
}
@font-face {
    font-family: 'Work Sans Light Italic';
    src: url('./assets/fonts/WorkSans-LightItalic.woff2');
}
@font-face {
    font-family: 'Work Sans Bold';
    src: url('./assets/fonts/WorkSans-Bold.woff2');
}


.body {
    font-size: var(--default-font-size);
    font-weight: 400;
    box-sizing: border-box;
    min-width: 320px;
}

.btn {
    background-color: var(--air-force-blue);
    color: var(--white);
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

/* Header */
.header__main {
        background-image: url(/assets/img/home.jpeg);
        width: auto;
        background-size: cover;
        background-position-x: center;
        height: 20rem;
        padding: 1rem;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    font-size: 1.8rem;
    text-align: right;
    line-height: 3rem;
    padding: 2rem 0;
}

/* Articles */
.article__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: var(--black-alpha) 6px 6px 0px 0px;
    margin: 2rem 1rem;
    padding: 1rem 0;
    gap: 2rem;
}

.article__top-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: 1rem;
}
.article__title-h2 {
    font-family: 'Abril Fatface';
    font-size: 2rem;
    color: var(--black);
}
.article__category {
   font-size: 1rem;
   font-family: 'Work Sans';
   color: var(--air-force-blue); 
}

.article__price {
    color: var(--sinopia);
    font-family: 'Abril Fatface';
    font-size: 2rem;
}
.article__price--min {
    font-size: 1.5rem;
}
.article__description {
    font-size: 1rem;
    font-family: 'Work Sans';
    color: var(--black); 
}

/* Footer */
.footer__container-main {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}

.footer__bot {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__network {
    gap: 2rem;
    display: flex;
}
.footer__links {
    font-size: 1.25rem;
    font-family: 'Work Sans';
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}



/* Background colors */
.bg-charcoal {
    background-color: var(--charcoal);
}
.bg-white {
    background-color: var(--white);
}
.bg-white-smoke {
    background-color: var(--white-smoke);
}
.bg-air-force-blue {
    background-color: var(--air-force-blue);
}



/* Text colors */
.color-white {
    color: var(--white);
}
.color-black {
    color: var(--black);
}
.color-air-force-blue {
    color: var(--air-force-blue);
}
.color-sinoipa {
    color: var(--sinopia);
}
.color-charcoal {
    color: var(--charcoal);
}





/* Text sizes */
.text-default {
    font-size: 1rem;
}
.text-title-secondary {
    font-size: 2rem;
    font-family: 'Abril Fatface';
}

.text-header-italic {    
    font-family: 'Work Sans Light Italic';
}

.text-header-bold-work {    
    font-family: 'Work Sans Bold';
}
.text-header-bold-abril {    
    font-family: 'Abril Fatface';
}
.text-button-abril {    
    font-size: 1.5rem;
    font-family: 'Abril Fatface';
}

.text-title-main {
    font-size: 2.5rem;    
}

.text-title-h1 {
    font-family: 'Abril Fatface';
    font-size: 2.5rem;
    background-color: var(--air-force-blue);
    text-align: center;
    color: var(--white);
    padding: 1rem;
}

.text-title-h2 {
    font-size: 2rem;
}

.text-title-h3 {
    font-size: 1.5rem;
}

.text-link {
    font-size: 1.25rem;
    font-family: 'Work Sans';
}

.active {
    font-size: 1.25rem;
}


/* Text styles */
.italic {
    font-style: italic;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
