
/* Background colors */
.bg-charcoal {
    background-color: var(--charcoal);
}
.bg-white {
    background-color: var(--white);
}
.bg-white-smoke {
    background-color: var(--white-smoke);
}
.bg-air-force-blue {
    background-color: var(--air-force-blue);
}



/* Text colors */
.white {
    color: var(--white);
}
.black {
    color: var(--black);
}
.air-force-blue {
    color: var(--air-force-blue);
}
.sinoipa {
    color: var(--sinopia);
}
.charcoal {
    color: var(--charcoal);
}

