.categories {
    background: linear-gradient(to right, #9797971f 75%, transparent 75%);
    margin: 2rem 0;
    
    &__container {
        font-family: 'Work Sans';
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__ttl {
        font-family: 'Abril Fatface';
        font-size: 2.5rem;
        background-color: var(--air-force-blue);
        text-align: center;
        color: var(--white);
        padding: 1rem 0;
    }
}


.category {
    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__ttl {
        font-family: 'Work Sans';
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    &__card {
        text-align: center;

    }
}

@media screen and (min-width: 980px) {
    .categories {
        background: linear-gradient(to right, #9797971f 85%, transparent 75%);
        background-size: 100% 85%;
        background-repeat: no-repeat;

        &__container {
            max-width: 1400px;
            margin: auto;
            text-align: left;
        }
        &__ttl {
            text-align: left;
        }
    }

    .category {
        &__container {
            max-width: 1400px;
            margin: auto;
            justify-content: space-between;
        }

    }
}