/* Footer */
.footer {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-evenly;
    padding: 2rem 1rem;


    &__links {
        font-size: 1.25rem;
        font-family: 'Work Sans';
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    &__bot {
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__ttl {
        font-size: 2rem;
        font-family: 'Abril Fatface';
    }

    &__network {
        gap: 2rem;
        display: flex;
    }
}


    .instagram-btn::after {
        content: url('./assets/img/instagram.svg');
    }
    .tiktok-btn::after {
        content: url('./assets/img/tiktok.svg');
    }
    .mastodon-btn::after {
        content: url('./assets/img/mastodon.svg');
    }



@media screen and (min-width: 980px) {

    .footer__links,
    .footer__bot {
        max-width: 1400px;
        justify-content: space-between;
    }
}