.pagination {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;


    &__btn,
    &__item {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: var(--air-force-blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: 'Work Sans Bold';
    
}

    
    &__list {
        display: flex;
        gap: 1rem;
    }

}

.active-page {
    background-color: var(--sinopia);
}