.find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: 100vw;
    padding: 2rem;


    &__icon::before {
        content: url('./assets/img/search.svg');
        padding: 1rem 0;
        margin-left: 1rem;
    }

    &__form {
        background-color: var(--white);
        width: 100%;
        color: var(--air-force-blue);
        padding: 1rem 0.5rem;
    }


    &__field {
        font-size: 1rem;
        font-family: 'Work Sans';
    }

    &__btn {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.667);
        color: var(--black);
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-family: 'Work Sans Bold';
    }

}

@media screen and (min-width: 1100px) {

    .find {
        width: auto;
        padding: 0;
    }
    .results {
        
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

    }
    
}
}