/* Overlay */

.overlay {
    position: fixed;
    z-index: 1000;
    padding: 1rem;
    border-bottom: var(--sinopia) 8px solid;
    background-color: var(--white);
    width: 100%;

    &__ttl {
        font-family: 'Abril Fatface';
        color: var(--black);
        font-size: 2.5rem;
    }

    &__cross-btn::after {
        content: url('./assets/img/cross.svg');
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
        font-size: 1.25rem;
        font-family: 'Work Sans';
    }

}





@media screen and (min-width: 1100px) {

    .overlay {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: row;

        &__cross-btn {
            display: none;
        }

        &__top {
            display: none;
        }

        &__links {
            width: 100%;
            flex-direction: row;
            justify-content: end;
            max-width: 1400px;
            margin: auto;
        }
    }

    .find__target {
        order: 3;
    }
}